

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eebdbd;
  color: #333;
}

/* Personalización de botones */
.btn-custom {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #45a049;
}


.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}


.navbar {
  margin-bottom: 20px;
}
